/* LoginPage.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-family: 'Arial', sans-serif; /* Softer font family */
  }
  
  .logo {
    width: 100px;
    margin: 0 auto 20px;
  }
  
  .title {
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
    color: #333;
    font-weight: 300; /* Lighter font weight */
  }
  
  .subtitle {
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
    color: #666;
  }
  
  .input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Arial', sans-serif; /* Softer font family */
  }
  
  .button {
    padding: 10px;
    font-size: 16px;
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif; /* Softer font family */
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .link {
    font-size: 14px;
    color: #0070f3;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }